



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background-color: black;
  width: 100%;
  height: 10vh; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw; 
  position: fixed;
  top: 0;
  z-index: 10;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.logo {
  max-height: 8vh; 
  max-width: 15vw; 
  object-fit: contain; 
  cursor:pointer;
}


.nav-buttons {
  display: flex;
  gap: 2vw; 
  align-items: center;
}


.nav-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0.5em 1em; 
}

.nav-button:hover {
  background-color: #04b4d3;
  color: black;
  
}





@media (max-width: 768px) {
  .header {
    height: 12vh;
    padding: 0 1vw;
  }

  .logo {
    max-height: 7vh;
    max-width: 20vw;
  }

  .nav-buttons {
    gap: 1vw;
    
  }

  .nav-button {
    font-size: 0.9rem;
    padding: 0.4em 0.8em;
    font-size: 0.6rem; 
  }
}
