/* Estilos para el componente Novedades */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.novedades {
  background-color: #1c1c1c; /* Fondo gris oscuro */
  color: white;
  padding: 3rem 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), #333; /* Gradiente difuminado */
}

.novedades h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 100;
  font-size: 50px;
}

.novedades-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  

  
}

.novedad-card {
  background-color: #333; /* Fondo de cada tarjeta */
  border-radius: 10px;
  overflow: hidden;
  
  width: 350px;
  transition: transform 0.4s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), #333; /* Gradiente difuminado */
}

.novedad-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
  background: linear-gradient(to top, rgb(29, 29, 29), rgba(0, 0, 0, 1)), #333; /* Gradiente difuminado */

}

.novedad-card h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.novedad-card p {
  font-size: 1rem;
  padding: 0 1rem 1rem;
}

/* Efecto hover para expandir la imagen */
.novedad-card:hover img {
  transform: scale(1.1); /* Expande la imagen al pasar el ratón */
}

.novedades .gradient-hero {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Ajusta el porcentaje para decidir la altura del difuminado */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Difuminado desde arriba */
  pointer-events: none;
}

/* Responsividad */
@media (max-width: 768px) {
  .novedades-container {
    flex-direction: column;
    align-items: center;
  }
  
  .novedad-card {
    width: 80%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .novedades h2 {
    font-size: 2rem;
  }

  .novedad-card {
    width: 100%;
  }
}
