/* Condiciones.css */

.condiciones {
    padding: 20px 400px; /* Añadir padding de 40px a la izquierda y derecha */
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .condiciones ol {
    padding-left: 0; /* Eliminar el padding izquierdo en la lista */
    list-style-position: inside; /* Asegura que los números de la lista estén dentro del contenedor */
  }
  
  .condiciones li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .condiciones h3 {
    font-size: 1em;
    color: #444;
  }
  
  .condiciones p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    margin-top: 10px;
    text-align: justify; /* Justificar el texto */
  }
  