/* Hero general */
.hero {
  position: relative;
  height: calc(70vh - 60px);
  background-color: black;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Video */
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás del contenido */
}

/* Gradiente superpuesto */
.hero .gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

/* Contenido del Hero */
.hero .content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  max-width: 80%;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.hero .small-text {
  font-size: 0.9rem;
}

.hero .button {
  padding: 10px 20px;
  background-color: #adaaa8;
  border: none;
  color: rgb(19, 18, 18);
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}

.hero .button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de mute */
.mute-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  z-index: 2;
}

.mute-button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

/* Responsividad */
@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }

  .hero .content {
    top: 60%;
    transform: translate(-50%, -60%);
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .mute-button {
    font-size: 1rem;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 45vh;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.8rem;
  }
}
