
.hero {
  position: relative;
  height: 100vh; /* Asegura que el Hero ocupe toda la pantalla */
  background-color: black;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; 
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
  pointer-events: none; 
}

.hero .content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del video */
  max-width: 500px;
  padding: 30px 20px; /* Espaciado adicional alrededor del contenido */
  text-align: center;
  margin-top: 80vh; /* Asegura que el contenido quede debajo del video */
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.hero .small-text {
  font-size: 0.9rem;
}

.hero .button {
  padding: 8px 16px;
  background-color: #adaaa8;
  border: none;
  color: rgb(19, 18, 18);
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow 0.3s ease;
}

.hero .button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajustes en la vista móvil */
@media (max-width: 768px) {
  /* Hacer que el Hero ocupe toda la pantalla */
  .hero {
    height: 80vh; /* Ajustamos la altura en pantallas móviles */
  }

  .hero .content {
    margin-top: 55vh; /* Más espacio entre el video y el contenido */
    padding: 20px; /* Menos padding en móviles */
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero .button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
