/* KingsLeague Component */
.kings-league {
    background-color: #f5f5f5;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(to bottom, rgb(242, 238, 238), rgba(0, 0, 0, 0)), #333; /* Gradiente difuminado */
    
  }
  
  .kings-league h2{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 100;

  }


  .kings-league img {
    max-width: 100%;
    border-radius: 10px;
    max-width: 30%;
  }
  
  .kings-league .description {
    font-size: 1.1rem;
    color: #333;
    margin-top: 20px;
  }
  
  .kings-league .button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f38d36;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  